<?xml version="1.0" encoding="UTF-8"?>
	<!--
		GraphLab Project: http://graphlab.sharif.edu Copyright (C) 2008
		Mathematical Science Department of Sharif University of Technology
		Distributed under the terms of the GNU General Public License (GPL):
		http://www.gnu.org/licenses/
	-->

<root>
	<actions>
		<action class="graphlab.plugins.reports.basicreports.NumOfVerticesWithDegK" />
		<action class="graphlab.plugins.reports.basicreports.NumOfVertices" />
		<action class="graphlab.plugins.reports.basicreports.NumOfEdges" />
		<action
			class="graphlab.plugins.reports.basicreports.NumOfConnectedComponents" />
		<action class="graphlab.plugins.reports.basicreports.GirthSize" />
		<action class="graphlab.plugins.reports.basicreports.VerticesDegreesList" />
		<!--
			<action
			class="graphlab.plugins.reports.basicreports.MaximumIndependenceNumber"/>
		-->
		<action class="graphlab.plugins.reports.basicreports.IsEulerian" />
		<action class="graphlab.plugins.reports.basicreports.NumOfTriangles" />
		<action class="graphlab.plugins.reports.basicreports.MaxAndMinDegree" />
		<action class="graphlab.plugins.reports.basicreports.AdjacencyMatrix" />
		<action class="graphlab.plugins.reports.basicreports.NumOfQuadrangle" />
		<action
			class="graphlab.plugins.reports.spectralreports.maxflowmincut.GomoryHuTree" />
		<action
			class="graphlab.plugins.reports.spectralreports.maxflowmincut.MaximumFlow" />
		<action
			class="graphlab.plugins.reports.spectralreports.maxflowmincut.MinimumCut" />
		<action class="graphlab.plugins.reports.spectralreports.IsBipartite" />
		<action
			class="graphlab.plugins.reports.spectralreports.PerfectMatchingReport" />
		<action class="graphlab.plugins.reports.spectralreports.LaplacianOfGraph" />
		<action class="graphlab.plugins.reports.ShowReports" id="reports show" />
	</actions>
	<ui>
		<menues>
			<submenu label="Graph.Reports" place="300">
				<menu label="Show Reports Window" action="reports show" />
			</submenu>
			<!--<submenu label="_Reports">-->
			<!--<menu label="_Vertices" action="vertex report"/>-->
			<!--</submenu>-->
		</menues>
		<sidebars>
			<sidebar class="graphlab.plugins.reports.ui.ReportsSideBar"
				id="ReportsSideBar" image="/graphlab/plugins/reports/ui/sbicon.GIF"
				label="Graph Reports" place="1000" />
		</sidebars>
	</ui>
</root>
