!!! 5
html
  style.
    a { color: black; }
    h2 { margin-top: 13px; padding-top: 13px; margin-bottom: 13px; font-size: 13px; border-top: 1px solid #AAAAAA;}
    body {  font-size: 13px; margin: 16px; }
    .report { margin-bottom: 5px; }
  body
    h1 Reports
    p  Click on a report...
    for category in categories
        h2 #{category}
        div
            for report in categoryLists.get(category)
              div(class='report')
                  a(href="#{report.getClass().getName()}&handler=PerformExtension")#{report.getName()}

