.image { text-align:center; color:#808080; font-style:italic } 
.doctitle    {  font-size: 1.75em; font-weight: bold}
.sectiontitle    {  font-size: 1.5em; margin-bottom:0; padding:0;}
.subsectiontitle    {
	font-size: 1.25em;
	margin-bottom:0px;
	margin-top:2em;
	padding-bottom:o
}
span.keyword {font-weight: bold}
body { text-align:justify; font-family:tahoma; font-size : 14;}
a {border:1px dotted; padding:3px;  font-weight:bold; color:#0066FF ;}
