<?xml version="1.0" encoding="UTF-8"?>
<!--
  GraphLab Project: http://graphlab.sharif.edu
  Copyright (C) 2008 Mathematical Science Department of Sharif University of Technology
  Distributed under the terms of the GNU General Public License (GPL): http://www.gnu.org/licenses/
  -->

<!DOCTYPE root SYSTEM "SampleUI.dtd">
<root>
    <actions>
        <action class="graphlab.plugins.commonplugin.reporter.actions.ExceptionReport" group="" id="Exception Report"/>
        <action class="graphlab.plugins.commonplugin.reporter.actions.Report" group="" id="Bug Buddy"/>
        <!--<action class="graphlab.plugins.commonplugin.reporter.actions.Exceptioner" group="" id="exceptioner"/>-->
    </actions>
    <ui>
        <menues>
            <submenu label="_Help">
                <menu label="Report a Bug, Suggest a Feature" place="100" action="Bug Buddy"/>
                <!--<menu label="_Exceptioner" action="exceptioner"/>-->
            </submenu>
        </menues>
        <statusbars>
            <bar class="graphlab.plugins.commonplugin.reporter.actions.ExceptionReport" id="exception report"/>
        </statusbars>
        <!--toolbars>
              <toolbar>
                  <tool label="Load" action="load" image=""/>
              </toolbar>
          </toolbars-->
    </ui>
</root>
