<?xml version="1.0" encoding="UTF-8"?>
<!--
  GraphTea Project: https://github.com/graphtheorysoftware/GraphTea
  Copyright (C) 2008 Mathematical Science Department of Sharif University of Technology
  Distributed under the terms of the GNU General Public License (GPL): http://www.gnu.org/licenses/
  -->

<!DOCTYPE root SYSTEM "SampleUI.dtd">
<root>
    <actions>
        <action class="graphtea.plugins.main.preview.ShowPreview" id="show preview"/>
    </actions>
    <ui>
        <menues>
            <submenu label="_Preview">
                <menu label="_show" action="show preview"/>
            </submenu>
        </menues>

    </ui>
</root>
