<?xml version="1.0" encoding="UTF-8"?>
<!--
  GraphLab Project: http://graphlab.sharif.edu
  Copyright (C) 2008 Mathematical Science Department of Sharif University of Technology
  Distributed under the terms of the GNU General Public License (GPL): http://www.gnu.org/licenses/
  -->

<root>
    <actions>
        <!--<action class="graphlab.gui.plugins.commandline.Shell"-->
        <!--group="" id="RunShell"/>-->
        <!--<action class="graphlab.plugins.commandline.ShellServer"-->
        <!--group="" id="ShellServer"/>-->
    </actions>
    <ui>
        <menues>
            <!--<submenu label="_CommandLine">-->
            <!--<menu label="_Run" place="1" action="RunShell"/>-->
            <!--<menu label="_Run shell server" place="2" action="ShellServer"/>-->
            <!--</submenu>-->
        </menues>
        <sidebars>
            <sidebar class="graphlab.plugins.commandline.ShellSideBar" id="ShellSideBar"
                     image="/graphlab/plugins/commandline/SBicon.gif" label="shell" />
        </sidebars>
        <!--toolbars>
            <toolbar>
                <tool label="Help" action="Help" image=""/>
			</toolbar>
		</toolbars-->
    </ui>
</root>
