<?xml version="1.0" encoding="UTF-8"?>
<!--
  GraphTea Project: https://github.com/graphtheorysoftware/GraphTea
  Copyright (C) 2008 Mathematical Science Department of Sharif University of Technology
  Distributed under the terms of the GNU General Public License (GPL): http://www.gnu.org/licenses/
  -->

<!DOCTYPE root SYSTEM "SampleUI.dtd">
<root>
    <actions>
        <action class="graphtea.plugins.commonplugin.reporter.ReportUIAction" group="" id="Bug Buddy"/>
        <!--<action class="graphtea.plugins.commonplugin.reporter.ExceptionerActionAction" group="" id="exceptioner"/>-->
    </actions>
    <ui>
        <menues>
            <submenu label="_Help">
                <menu label="Report a Bug, Suggest a Feature" place="100" action="Bug Buddy"/>
                <!--<menu label="_Exceptioner" action="exceptioner"/>-->
            </submenu>
        </menues>
    </ui>
</root>
