<?xml version="1.0" encoding="UTF-8"?>
	<!--
		GraphTea Project: https://github.com/graphtheorysoftware/GraphTea Copyright (C) 2008
		Mathematical Science Department of Sharif University of Technology
		Distributed under the terms of the GNU General Public License (GPL):
		http://www.gnu.org/licenses/
	-->

<root>
	<actions>
	</actions>
	<ui>
		<menues>
			<submenu label="Reports" place="300">
			</submenu>
		</menues>
		<sidebars>
			<sidebar class="graphtea.plugins.reports.ui.ReportsSideBar"
				id="ReportsSideBar" image="/graphtea/plugins/reports/ui/sbicon.GIF"
				label="Graph Reports" place="1000" />
		</sidebars>
	</ui>
</root>
